In [4]:
import pandas as pd

In [5]:
df=pd.read_json("market_history.json")

In [6]:
df

,fetched_at,data
0,2026-01-09 12:33:28.182744,{'result': {'contract_value': '0.0010000000000...
1,2026-01-09 12:34:28.747715,{'result': {'contract_value': '0.0010000000000...
2,2026-01-09 12:35:29.350079,{'result': {'contract_type': 'perpetual_future...
3,2026-01-09 12:36:29.748994,{'result': {'contract_value': '0.0010000000000...
4,2026-01-09 12:37:30.342137,{'result': {'contract_type': 'perpetual_future...
...,...,...
446,2026-01-12 07:36:41.979107,{'result': {'contract_type': 'perpetual_future...
447,2026-01-12 07:37:42.684346,{'result': {'contract_type': 'perpetual_future...
448,2026-01-12 07:38:43.018293,{'result': {'contract_value': '0.0010000000000...
449,2026-01-12 07:39:43.596088,{'result': {'contract_value': '0.0010000000000...
450,2026-01-12 07:40:44.347923,{'result': {'contract_type': 'perpetual_future...